### SVI 2014-2022

In [28]:
# Import Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
import seaborn as sns
import os

In [29]:
svi_2014 = gpd.read_file('/home/h6x/git_projects/svi_data_analysis/data/raw_data/SVI2014_US_tract.gdb')
svi_2016 = gpd.read_file('/home/h6x/git_projects/svi_data_analysis/data/raw_data/SVI2016_US_tract.gdb')
svi_2018 = gpd.read_file('/home/h6x/git_projects/svi_data_analysis/data/raw_data/SVI2018_US_tract.gdb')
svi_2020 = gpd.read_file('/home/h6x/git_projects/svi_data_analysis/data/raw_data/SVI2020_US_tract.gdb')
svi_2022 = gpd.read_file('/home/h6x/git_projects/svi_data_analysis/data/raw_data/SVI2022_US_tract.gdb')

In [50]:
# chage the column name in svi_2022 dataset EP_POV150 to EP_POV
svi_2022.rename(columns = {'EP_POV150':'EP_POV'}, inplace = True)
svi_2020.rename(columns = {'EP_POV150':'EP_POV'}, inplace = True)


# check why this name different and is there any diffrence in underline data

In [39]:
col_names_2014 = svi_2014.columns.tolist()
col_names_2016 = svi_2016.columns.tolist()
col_names_2018 = svi_2018.columns.tolist()
col_names_2020 = svi_2020.columns.tolist()
col_names_2022 = svi_2022.columns.tolist()

In [40]:
ep_columns_2014 = [col for col in col_names_2014 if col.startswith('EP_')]
ep_columns_2016 = [col for col in col_names_2016 if col.startswith('EP_')]
ep_columns_2018 = [col for col in col_names_2018 if col.startswith('EP_')]
ep_columns_2020 = [col for col in col_names_2020 if col.startswith('EP_')]
ep_columns_2022 = [col for col in col_names_2022 if col.startswith('EP_')]

In [41]:
# get the columns that are common to all the datasets

common_columns = list(set(ep_columns_2014) & set(ep_columns_2016) & set(ep_columns_2018) & set(ep_columns_2020) & set(ep_columns_2022))

In [51]:
svi_2014[common_columns].describe()

,EP_SNGPNT,EP_MINRTY,EP_UNEMP,EP_POV,EP_NOHSDP,EP_MOBILE,EP_GROUPQ,EP_NOVEH,EP_LIMENG,EP_DISABL,EP_MUNIT,EP_AGE17,EP_UNINSUR,EP_AGE65,EP_CROWD
count,72842.000000,72842.000000,72842.000000,72842.000000,72842.000000,72842.000000,72842.000000,72842.000000,72842.000000,72842.000000,72842.000000,72842.000000,72842.000000,72842.000000,72842.000000
mean,9.795866,36.640994,9.763665,16.583405,14.272719,6.117957,2.742305,9.732144,4.301653,12.870663,11.991790,22.662859,14.154308,14.319626,3.561563
std,6.786609,30.216948,6.172666,12.936503,11.398285,10.791484,9.691085,12.568977,7.148317,6.046526,18.297908,6.987446,9.041378,7.788332,5.492328
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.100000,10.900000,5.700000,7.100000,6.000000,0.000000,0.000000,2.600000,0.300000,8.700000,0.400000,19.100000,7.500000,9.500000,0.500000
50%,8.300000,27.200000,8.400000,13.200000,11.300000,0.700000,0.300000,5.500000,1.300000,12.100000,4.200000,22.900000,12.500000,13.600000,1.700000
75%,13.000000,58.300000,12.300000,22.700000,19.500000,7.800000,1.600000,11.400000,4.800000,16.200000,15.500000,26.700000,19.000000,17.700000,4.200000
max,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,63.500000,100.000000,100.000000,100.000000

In [52]:
svi_2016[common_columns].describe()

,EP_SNGPNT,EP_MINRTY,EP_UNEMP,EP_POV,EP_NOHSDP,EP_MOBILE,EP_GROUPQ,EP_NOVEH,EP_LIMENG,EP_DISABL,EP_MUNIT,EP_AGE17,EP_UNINSUR,EP_AGE65,EP_CROWD
count,72836.000000,72836.000000,72836.000000,72836.000000,72836.000000,72836.000000,72836.000000,72836.000000,72836.000000,72836.000000,72836.000000,72836.000000,72836.000000,72836.000000,72836.000000
mean,9.528049,37.323755,0.694972,8.415735,7.780662,-1.775695,2.681858,1.423954,4.210997,5.980869,12.113504,22.294496,4.489353,9.378313,3.562941
std,6.573145,30.154560,85.511158,89.699688,77.901684,89.212637,9.568062,91.628465,6.941547,85.669725,18.386055,6.882108,85.701519,76.921494,5.335914
min,0.000000,0.000000,-999.000000,-999.000000,-999.000000,-999.000000,0.000000,-999.000000,0.000000,-999.000000,0.000000,0.000000,-999.000000,-999.000000,0.000000
25%,4.900000,11.500000,4.400000,6.900000,5.700000,0.000000,0.000000,2.500000,0.300000,9.000000,0.500000,18.800000,5.800000,10.200000,0.500000
50%,8.100000,28.300000,6.700000,12.800000,10.600000,0.700000,0.200000,5.400000,1.300000,12.400000,4.400000,22.500000,10.100000,14.400000,1.800000
75%,12.600000,59.400000,10.000000,22.100000,18.500000,7.600000,1.500000,11.200000,4.700000,16.500000,15.700000,26.300000,15.700000,18.600000,4.200000
max,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,68.900000,100.000000,100.000000,91.400000,100.000000,100.000000,100.000000

In [53]:
for var in common_columns:
    print(var)

    print('2014')
    # drop rows with values -999
    svi_2014_temp = svi_2014[svi_2014[var] != -999]
    print(svi_2014_temp[var].describe())

    print('2016')
    # drop rows with values -999
    svi_2016_temp = svi_2016[svi_2016[var] != -999]
    print(svi_2016_temp[var].describe())

    print('2018')
    # drop rows with values -999
    svi_2018_temp = svi_2018[svi_2018[var] != -999]
    print(svi_2018_temp[var].describe())

    print('2020')
    # drop rows with values -999
    svi_2020_temp = svi_2020[svi_2020[var] != -999]
    print(svi_2020_temp[var].describe())

    print('2022')
    # drop rows with values -999
    svi_2022_temp = svi_2022[svi_2022[var] != -999]
    print(svi_2022_temp[var].describe())
    
    print('-------------------------------------')

EP_SNGPNT
2014
count    72842.000000
mean         9.795866
std          6.786609
min          0.000000
25%          5.100000
50%          8.300000
75%         13.000000
max        100.000000
Name: EP_SNGPNT, dtype: float64
2016
count    72836.000000
mean         9.528049
std          6.573145
min          0.000000
25%          4.900000
50%          8.100000
75%         12.600000
max        100.000000
Name: EP_SNGPNT, dtype: float64
2018
count    72837.000000
mean         9.169985
std          6.429885
min          0.000000
25%          4.700000
50%          7.800000
75%         12.200000
max        100.000000
Name: EP_SNGPNT, dtype: float64
2020
count    84122.000000
mean         6.552921
std          5.696048
min          0.000000
25%          2.700000
50%          5.200000
75%          8.900000
max        100.000000
Name: EP_SNGPNT, dtype: float64
2022
count    83359.000000
mean         6.405377
std          5.704820
min          0.000000
25%          2.500000
50%          5.000000
75%          8.700000
max        100.000000
Name: EP_SNGPNT, dtype: float64
-------------------------------------
EP_MINRTY
2014
count    72842.000000
mean        36.640994
std         30.216948
min          0.000000
25%         10.900000
50%         27.200000
75%         58.300000
max        100.000000
Name: EP_MINRTY, dtype: float64
2016
count    72836.000000
mean        37.323755
std         30.154560
min          0.000000
25%         11.500000
50%         28.300000
75%         59.400000
max        100.000000
Name: EP_MINRTY, dtype: float64
2018
count    72837.000000
mean        38.118960
std         30.080855
min          0.000000
25%         12.300000
50%         29.400000
75%         60.500000
max        100.000000
Name: EP_MINRTY, dtype: float64
2020
count    84122.000000
mean        38.851311
std         29.875759
min          0.000000
25%         13.100000
50%         30.700000
75%         61.300000
max        100.000000
Name: EP_MINRTY, dtype: float64
2022
count    83617.000000
mean        40.393550
std         29.512708
min          0.000000
25%         14.900000
50%         32.800000
75%         63.100000
max        100.000000
Name: EP_MINRTY, dtype: float64
-------------------------------------
EP_UNEMP
2014
count    72842.000000
mean         9.763665
std          6.172666
min          0.000000
25%          5.700000
50%          8.400000
75%         12.300000
max        100.000000
Name: EP_UNEMP, dtype: float64
2016
count    72309.000000
mean         7.980915
std          5.342672
min          0.000000
25%          4.500000
50%          6.700000
75%         10.000000
max        100.000000
Name: EP_UNEMP, dtype: float64
2018
count    72291.000000
mean         6.374882
std          4.673312
min          0.000000
25%          3.400000
50%          5.300000
75%          8.000000
max        100.000000
Name: EP_UNEMP, dtype: float64
2020
count    83455.000000
mean         5.723942
std          4.724210
min          0.000000
25%          2.700000
50%          4.600000
75%          7.500000
max        100.000000
Name: EP_UNEMP, dtype: float64
2022
count    83467.000000
mean         5.637438
std          4.609244
min          0.000000
25%          2.600000
50%          4.600000
75%          7.400000
max        100.000000
Name: EP_UNEMP, dtype: float64
-------------------------------------
EP_POV
2014
count    72842.000000
mean        16.583405
std         12.936503
min          0.000000
25%          7.100000
50%         13.200000
75%         22.700000
max        100.000000
Name: EP_POV, dtype: float64
2016
count    72274.000000
mean        16.249364
std         12.466137
min          0.000000
25%          7.000000
50%         12.900000
75%         22.100000
max        100.000000
Name: EP_POV, dtype: float64
2018
count    72255.000000
mean        15.246599
std         11.913375
min          0.000000
25%          6.600000
50%         12.000000
75%         20.600000
max        100.000000
Name: EP_POV, dtype: float64
2020
count    84122.000000
mean        22.260361
std         15.451197
min          0.000000
25%         10.400000
50%         18.900000
75%         30.800000
max        100.000000
Name: EP_POV, dtype: float64
2022
count    83419.000000
mean        21.933474
std         14.964711
min          0.000000
25%         10.500000
50%         18.600000
75%         30.000000
max        100.000000
Name: EP_POV, dtype: float64
-------------------------------------
EP_NOHSDP
2014
count    72842.000000
mean        14.272719
std         11.398285
min          0.000000
25%          6.000000
50%         11.300000
75%         19.500000
max        100.000000
Name: EP_NOHSDP, dtype: float64
2016
count    72411.000000
mean        13.689734
std         10.961421
min          0.000000
25%          5.800000
50%         10.700000
75%         18.600000
max        100.000000
Name: EP_NOHSDP, dtype: float64
2018
count    72400.000000
mean        12.995432
std         10.547219
min          0.000000
25%          5.400000
50%         10.100000
75%         17.600000
max        100.000000
Name: EP_NOHSDP, dtype: float64
2020
count    83576.000000
mean        11.957566
std         10.295793
min          0.000000
25%          4.600000
50%          9.000000
75%         16.300000
max        100.000000
Name: EP_NOHSDP, dtype: float64
2022
count    83596.000000
mean        11.396933
std          9.994520
min          0.000000
25%          4.300000
50%          8.500000
75%         15.400000
max        100.000000
Name: EP_NOHSDP, dtype: float64
-------------------------------------
EP_MOBILE
2014
count    72842.000000
mean         6.117957
std         10.791484
min          0.000000
25%          0.000000
50%          0.700000
75%          7.800000
max        100.000000
Name: EP_MOBILE, dtype: float64
2016
count    72266.000000
mean         6.089939
std         10.765370
min          0.000000
25%          0.000000
50%          0.700000
75%          7.700000
max        100.000000
Name: EP_MOBILE, dtype: float64
2018
count    72251.000000
mean         6.031504
std         10.730296
min          0.000000
25%          0.000000
50%          0.700000
75%          7.600000
max        100.000000
Name: EP_MOBILE, dtype: float64
2020
count    83372.000000
mean         6.183041
std         11.255137
min          0.000000
25%          0.000000
50%          0.600000
75%          7.600000
max        100.000000
Name: EP_MOBILE, dtype: float64
2022
count    83388.000000
mean         6.034812
std         11.052173
min          0.000000
25%          0.000000
50%          0.600000
75%          7.200000
max        100.000000
Name: EP_MOBILE, dtype: float64
-------------------------------------
EP_GROUPQ
2014
count    72842.000000
mean         2.742305
std          9.691085
min          0.000000
25%          0.000000
50%          0.300000
75%          1.600000
max        100.000000
Name: EP_GROUPQ, dtype: float64
2016
count    72836.000000
mean         2.681858
std          9.568062
min          0.000000
25%          0.000000
50%          0.200000
75%          1.500000
max        100.000000
Name: EP_GROUPQ, dtype: float64
2018
count    72837.000000
mean         2.673729
std          9.558068
min          0.000000
25%          0.000000
50%          0.200000
75%          1.500000
max        100.000000
Name: EP_GROUPQ, dtype: float64
2020
count    84122.000000
mean         2.582219
std          9.642751
min          0.000000
25%          0.000000
50%          0.200000
75%          1.300000
max        100.000000
Name: EP_GROUPQ, dtype: float64
2022
count    83617.000000
mean         2.658852
std          9.645814
min          0.000000
25%          0.000000
50%          0.200000
75%          1.500000
max        100.000000
Name: EP_GROUPQ, dtype: float64
-------------------------------------
EP_NOVEH
2014
count    72842.000000
mean         9.732144
std         12.568977
min          0.000000
25%          2.600000
50%          5.500000
75%         11.400000
max        100.000000
Name: EP_NOVEH, dtype: float64
2016
count    72241.000000
mean         9.663766
std         12.394031
min          0.000000
25%          2.600000
50%          5.500000
75%         11.300000
max        100.000000
Name: EP_NOVEH, dtype: float64
2018
count    72228.000000
mean         9.390754
std         12.243803
min          0.000000
25%          2.500000
50%          5.300000
75%         11.000000
max        100.000000
Name: EP_NOVEH, dtype: float64
2020
count    83351.000000
mean         8.711016
std         12.073692
min          0.000000
25%          1.900000
50%          4.700000
75%         10.300000
max        100.000000
Name: EP_NOVEH, dtype: float64
2022
count    83359.000000
mean         8.566521
std         11.859064
min          0.000000
25%          1.900000
50%          4.700000
75%         10.100000
max        100.000000
Name: EP_NOVEH, dtype: float64
-------------------------------------
EP_LIMENG
2014
count    72842.000000
mean         4.301653
std          7.148317
min          0.000000
25%          0.300000
50%          1.300000
75%          4.800000
max        100.000000
Name: EP_LIMENG, dtype: float64
2016
count    72836.000000
mean         4.210997
std          6.941547
min          0.000000
25%          0.300000
50%          1.300000
75%          4.700000
max         68.900000
Name: EP_LIMENG, dtype: float64
2018
count    72837.000000
mean         4.128805
std          6.797998
min          0.000000
25%          0.300000
50%          1.300000
75%          4.700000
max        100.000000
Name: EP_LIMENG, dtype: float64
2020
count    84122.000000
mean         3.914165
std          6.695643
min          0.000000
25%          0.100000
50%          1.200000
75%          4.400000
max        100.000000
Name: EP_LIMENG, dtype: float64
2022
count    83617.000000
mean         3.908352
std          6.619144
min          0.000000
25%          0.100000
50%          1.200000
75%          4.500000
max        100.000000
Name: EP_LIMENG, dtype: float64
-------------------------------------
EP_DISABL
2014
count    72842.000000
mean        12.870663
std          6.046526
min          0.000000
25%          8.700000
50%         12.100000
75%         16.200000
max        100.000000
Name: EP_DISABL, dtype: float64
2016
count    72313.000000
mean        13.249341
std          5.897128
min          0.000000
25%          9.100000
50%         12.500000
75%         16.500000
max        100.000000
Name: EP_DISABL, dtype: float64
2018
count    72303.000000
mean        13.355917
std          5.875941
min          0.000000
25%          9.200000
50%         12.500000
75%         16.600000
max        100.000000
Name: EP_DISABL, dtype: float64
2020
count    83454.000000
mean        13.343241
std          6.380280
min          0.000000
25%          8.800000
50%         12.400000
75%         16.800000
max        100.000000
Name: EP_DISABL, dtype: float64
2022
count    83472.000000
mean        13.565742
std          6.367522
min          0.000000
25%          9.100000
50%         12.600000
75%         17.000000
max        100.000000
Name: EP_DISABL, dtype: float64
-------------------------------------
EP_MUNIT
2014
count    72842.000000
mean        11.991790
std         18.297908
min          0.000000
25%          0.400000
50%          4.200000
75%         15.500000
max        100.000000
Name: EP_MUNIT, dtype: float64
2016
count    72836.000000
mean        12.113504
std         18.386055
min          0.000000
25%          0.500000
50%          4.400000
75%         15.700000
max        100.000000
Name: EP_MUNIT, dtype: float64
2018
count    72837.000000
mean        12.273157
std         18.512663
min          0.000000
25%          0.500000
50%          4.500000
75%         15.900000
max        100.000000
Name: EP_MUNIT, dtype: float64
2020
count    84122.000000
mean        12.572712
std         19.421178
min          0.000000
25%          0.000000
50%          4.100000
75%         16.400000
max        100.000000
Name: EP_MUNIT, dtype: float64
2022
count    83388.000000
mean        12.947203
std         19.602409
min          0.000000
25%          0.000000
50%          4.400000
75%         17.100000
max        100.000000
Name: EP_MUNIT, dtype: float64
-------------------------------------
EP_AGE17
2014
count    72842.000000
mean        22.662859
std          6.987446
min          0.000000
25%         19.100000
50%         22.900000
75%         26.700000
max         63.500000
Name: EP_AGE17, dtype: float64
2016
count    72836.000000
mean        22.294496
std          6.882108
min          0.000000
25%         18.800000
50%         22.500000
75%         26.300000
max         91.400000
Name: EP_AGE17, dtype: float64
2018
count    72837.000000
mean        21.961993
std          6.845653
min          0.000000
25%         18.500000
50%         22.200000
75%         26.000000
max         87.600000
Name: EP_AGE17, dtype: float64
2020
count    84122.000000
mean        21.637592
std          7.477425
min          0.000000
25%         17.600000
50%         21.800000
75%         26.100000
max        100.000000
Name: EP_AGE17, dtype: float64
2022
count    83617.000000
mean        21.403770
std          7.218947
min          0.000000
25%         17.300000
50%         21.600000
75%         25.800000
max        100.000000
Name: EP_AGE17, dtype: float64
-------------------------------------
EP_UNINSUR
2014
count    72842.000000
mean        14.154308
std          9.041378
min          0.000000
25%          7.500000
50%         12.500000
75%         19.000000
max        100.000000
Name: EP_UNINSUR, dtype: float64
2016
count    72313.000000
mean        11.747037
std          7.879543
min          0.000000
25%          5.900000
50%         10.100000
75%         15.800000
max        100.000000
Name: EP_UNINSUR, dtype: float64
2018
count    72303.000000
mean         9.365473
std          7.093734
min          0.000000
25%          4.200000
50%          7.600000
75%         12.600000
max        100.000000
Name: EP_UNINSUR, dtype: float64
2020
count    83454.000000
mean         8.805903
std          7.379450
min          0.000000
25%          3.600000
50%          6.800000
75%         11.900000
max        100.000000
Name: EP_UNINSUR, dtype: float64
2022
count    83472.00000
mean         8.79899
std          7.47839
min          0.00000
25%          3.50000
50%          6.80000
75%         11.90000
max        100.00000
Name: EP_UNINSUR, dtype: float64
-------------------------------------
EP_AGE65
2014
count    72842.000000
mean        14.319626
std          7.788332
min          0.000000
25%          9.500000
50%         13.600000
75%         17.700000
max        100.000000
Name: EP_AGE65, dtype: float64
2016
count    72419.000000
mean        15.184714
std          7.883066
min          0.000000
25%         10.300000
50%         14.400000
75%         18.600000
max        100.000000
Name: EP_AGE65, dtype: float64
2018
count    72411.000000
mean        15.977816
std          8.028165
min          0.000000
25%         10.950000
50%         15.200000
75%         19.600000
max        100.000000
Name: EP_AGE65, dtype: float64
2020
count    83598.000000
mean        16.756257
std          9.007917
min          0.000000
25%         11.100000
50%         15.700000
75%         20.800000
max        100.000000
Name: EP_AGE65, dtype: float64
2022
count    83617.000000
mean        17.300755
std          9.021457
min          0.000000
25%         11.700000
50%         16.300000
75%         21.300000
max        100.000000
Name: EP_AGE65, dtype: float64
-------------------------------------
EP_CROWD
2014
count    72842.000000
mean         3.561563
std          5.492328
min          0.000000
25%          0.500000
50%          1.700000
75%          4.200000
max        100.000000
Name: EP_CROWD, dtype: float64
2016
count    72836.000000
mean         3.562941
std          5.335914
min          0.000000
25%          0.500000
50%          1.800000
75%          4.200000
max        100.000000
Name: EP_CROWD, dtype: float64
2018
count    72837.000000
mean         3.550741
std          5.219251
min          0.000000
25%          0.600000
50%          1.800000
75%          4.300000
max        100.000000
Name: EP_CROWD, dtype: float64
2020
count    84122.000000
mean         3.497571
std          5.345972
min          0.000000
25%          0.100000
50%          1.700000
75%          4.400000
max        100.000000
Name: EP_CROWD, dtype: float64
2022
count    83359.000000
mean         3.560819
std          5.357333
min          0.000000
25%          0.200000
50%          1.700000
75%          4.500000
max        100.000000
Name: EP_CROWD, dtype: float64
-------------------------------------

In [49]:
# get the shapes
print(svi_2014.shape)
print(svi_2016.shape)
print(svi_2018.shape)
print(svi_2020.shape)
# print(svi_2022.shape)

(72842, 129)
(72836, 127)
(72837, 127)
(84122, 161)

In [10]:
svi_2014.head()

,AFFGEOID,TRACTCE,ST,STATE,ST_ABBR,STCNTY,COUNTY,FIPS,LOCATION,AREA_SQMI,...,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP,Shape_Length,Shape_Area,geometry
0,1400000US01001020100,020100,01,Alabama,AL,01001,Autauga,01001020100,"Census Tract 201, Autauga County, Alabama",3.787637,...,0.0,0.0,235.0,103.0,12.5,5.4,878.0,0.150167,0.000947,"MULTIPOLYGON Z (((-86.50916 32.47344 0.00000, ..."
1,1400000US01001020200,020200,01,Alabama,AL,01001,Autauga,01001020200,"Census Tract 202, Autauga County, Alabama",1.289773,...,1.0,1.0,311.0,116.0,14.5,5.3,3848.0,0.092386,0.000320,"MULTIPOLYGON Z (((-86.48122 32.47645 0.00000, ..."
2,1400000US01001020300,020300,01,Alabama,AL,01001,Autauga,01001020300,"Census Tract 203, Autauga County, Alabama",2.065365,...,0.0,0.0,366.0,154.0,11.1,4.3,1910.0,0.100175,0.000516,"MULTIPOLYGON Z (((-86.47087 32.47573 0.00000, ..."
3,1400000US01001020400,020400,01,Alabama,AL,01001,Autauga,01001020400,"Census Tract 204, Autauga County, Alabama",2.464375,...,0.0,1.0,621.0,334.0,14.6,7.0,2253.0,0.113974,0.000607,"MULTIPOLYGON Z (((-86.45394 32.49317 0.00000, ..."
4,1400000US01001020500,020500,01,Alabama,AL,01001,Autauga,01001020500,"Census Tract 205, Autauga County, Alabama",4.400688,...,0.0,0.0,617.0,273.0,5.9,2.6,11341.0,0.159227,0.001102,"MULTIPOLYGON Z (((-86.43816 32.45069 0.00000, ..."

In [13]:
FIPS_2014 = svi_2014['FIPS'].to_list()
FIPS_2016 = svi_2016['FIPS'].to_list()
FIPS_2018 = svi_2018['FIPS'].to_list()
FIPS_2020 = svi_2020['FIPS'].to_list()
# FIPS_2022 = svi_2022['FIPS'].to_list()

In [14]:
# get the set of FIPS codes that are common to all the datasets
common_FIPS = set(FIPS_2014) & set(FIPS_2016) & set(FIPS_2018) & set(FIPS_2020)

In [15]:
len(common_FIPS)

61346

In [16]:
STCNTY_2014 = svi_2014['STCNTY'].to_list()
STCNTY_2016 = svi_2016['STCNTY'].to_list()
STCNTY_2018 = svi_2018['STCNTY'].to_list()
STCNTY_2020 = svi_2020['STCNTY'].to_list()
# STCNTY_2022 = svi_2022['STCNTY'].to_list()

In [19]:
print(len(set(STCNTY_2014)))
print(len(set(STCNTY_2016)))
print(len(set(STCNTY_2018)))
print(len(set(STCNTY_2020)))
# print(len(set(STCNTY_2022)))

3142
3142
3142
3143

In [17]:
common_STCNTY = set(STCNTY_2014) & set(STCNTY_2016) & set(STCNTY_2018) & set(STCNTY_2020)

In [18]:
len(common_STCNTY)

3139

In [20]:
for STCNTY in common_STCNTY:
    print(STCNTY)

    


    break

09005

In [63]:
# create a new dataframe
rows = []

In [60]:
from tqdm import tqdm

In [65]:
# for var in common_columns:
for var in tqdm(common_columns):
    print(var)

    svi_2014_temp = svi_2014[svi_2014[var] != -999]
    svi_2016_temp = svi_2016[svi_2016[var] != -999]
    svi_2018_temp = svi_2018[svi_2018[var] != -999]
    svi_2020_temp = svi_2020[svi_2020[var] != -999]
    svi_2022_temp = svi_2022[svi_2022[var] != -999]

    for STCNTY in common_STCNTY:
        # print(STCNTY)
        mean_2014 = svi_2014_temp[svi_2014_temp['STCNTY'] == STCNTY][var].mean()
        # add this to the dataframe
        rows.append({'STCNTY': STCNTY, 'variable': var, 'year': 2014, 'mean': mean_2014})

        mean_2016 = svi_2016_temp[svi_2016_temp['STCNTY'] == STCNTY][var].mean()
        # add this to the dataframe
        rows.append({'STCNTY': STCNTY, 'variable': var, 'year': 2016, 'mean': mean_2016})

        mean_2018 = svi_2018_temp[svi_2018_temp['STCNTY'] == STCNTY][var].mean()
        # add this to the dataframe
        rows.append({'STCNTY': STCNTY, 'variable': var, 'year': 2018, 'mean': mean_2018})

        mean_2020 = svi_2020_temp[svi_2020_temp['STCNTY'] == STCNTY][var].mean()
        # add this to the dataframe
        rows.append({'STCNTY': STCNTY, 'variable': var, 'year': 2020, 'mean': mean_2020})

        mean_2022 = svi_2022_temp[svi_2022_temp['STCNTY'] == STCNTY][var].mean()
        # add this to the dataframe
        rows.append({'STCNTY': STCNTY, 'variable': var, 'year': 2022, 'mean': mean_2022})

  0%|          | 0/15 [00:00<?, ?it/s]

EP_SNGPNT

  7%|▋         | 1/15 [01:51<26:01, 111.54s/it]

EP_MINRTY

 13%|█▎        | 2/15 [03:42<24:06, 111.28s/it]

EP_UNEMP

 20%|██        | 3/15 [05:33<22:13, 111.12s/it]

EP_POV

 27%|██▋       | 4/15 [07:24<20:22, 111.14s/it]

EP_NOHSDP

 33%|███▎      | 5/15 [09:15<18:28, 110.86s/it]

EP_MOBILE

 40%|████      | 6/15 [11:05<16:37, 110.78s/it]

EP_GROUPQ

 47%|████▋     | 7/15 [12:56<14:47, 110.88s/it]

EP_NOVEH

 53%|█████▎    | 8/15 [14:47<12:55, 110.74s/it]

EP_LIMENG

 60%|██████    | 9/15 [16:38<11:04, 110.83s/it]

EP_DISABL

 67%|██████▋   | 10/15 [18:29<09:14, 110.82s/it]

EP_MUNIT

 73%|███████▎  | 11/15 [20:20<07:24, 111.01s/it]

EP_AGE17

 80%|████████  | 12/15 [22:12<05:33, 111.16s/it]

EP_UNINSUR

 87%|████████▋ | 13/15 [24:02<03:41, 110.89s/it]

EP_AGE65

 93%|█████████▎| 14/15 [25:53<01:50, 110.94s/it]

EP_CROWD

100%|██████████| 15/15 [27:44<00:00, 110.95s/it]

In [66]:
# Convert the list of dictionaries to a DataFrame
svi_info_county_yearly = pd.DataFrame(rows)

In [68]:
svi_info_county_yearly.head(20)

   STCNTY   variable  year      mean
0   09005  EP_SNGPNT  2014  6.292157
1   09005  EP_SNGPNT  2016  5.629412
2   09005  EP_SNGPNT  2018  6.084314
3   09005  EP_SNGPNT  2020  4.378846
4   09005  EP_SNGPNT  2022       NaN
5   27167  EP_SNGPNT  2014  5.800000
6   27167  EP_SNGPNT  2016  8.150000
7   27167  EP_SNGPNT  2018  8.550000
8   27167  EP_SNGPNT  2020  6.450000
9   27167  EP_SNGPNT  2022  3.900000
10  27127  EP_SNGPNT  2014  7.533333
11  27127  EP_SNGPNT  2016  7.433333
12  27127  EP_SNGPNT  2018  8.116667
13  27127  EP_SNGPNT  2020  4.483333
14  27127  EP_SNGPNT  2022  3.350000
15  29123  EP_SNGPNT  2014  7.300000
16  29123  EP_SNGPNT  2016  6.100000
17  29123  EP_SNGPNT  2018  3.700000
18  29123  EP_SNGPNT  2020  4.950000
19  29123  EP_SNGPNT  2022  6.300000

In [69]:
# save the dataframe to a csv file
svi_info_county_yearly.to_csv('/home/h6x/git_projects/svi_data_analysis/data/processed_data/analysis_svi/svi_info_county_yearly.csv', index=False)

In [73]:
# census level analysis

# for var in common_columns:
for var in tqdm(common_columns):
    print(var)

    svi_2014_temp = svi_2014[svi_2014[var] != -999]
    svi_2016_temp = svi_2016[svi_2016[var] != -999]
    svi_2018_temp = svi_2018[svi_2018[var] != -999]
    svi_2020_temp = svi_2020[svi_2020[var] != -999]
    svi_2022_temp = svi_2022[svi_2022[var] != -999]


    # cerate a new dataframe using this sci data where we have column variable, year, mean, FIPS, variable_value

    rows = []

    for r in svi_2014_temp.iterrows():
        rows.append({'FIPS': r[1]['FIPS'], 'variable': var, 'year': 2014, 'variable_value': r[1][var]})
    for r in svi_2016_temp.iterrows():
        rows.append({'FIPS': r[1]['FIPS'], 'variable': var, 'year': 2016, 'variable_value': r[1][var]})
    for r in svi_2018_temp.iterrows():
        rows.append({'FIPS': r[1]['FIPS'], 'variable': var, 'year': 2018, 'variable_value': r[1][var]})
    for r in svi_2020_temp.iterrows():
        rows.append({'FIPS': r[1]['FIPS'], 'variable': var, 'year': 2020, 'variable_value': r[1][var]})
    for r in svi_2022_temp.iterrows():
        rows.append({'FIPS': r[1]['FIPS'], 'variable': var, 'year': 2022, 'variable_value': r[1][var]})
    
    # Convert the list of dictionaries to a DataFrame
    svi_info_census_yearly = pd.DataFrame(rows)

    #save the dataframe to a csv file
    svi_info_census_yearly.to_csv(f'/home/h6x/git_projects/svi_data_analysis/data/processed_data/analysis_svi/{var}_census_2014_2022.csv', index=False)

  0%|          | 0/15 [00:00<?, ?it/s]

EP_SNGPNT

  7%|▋         | 1/15 [00:09<02:17,  9.83s/it]

EP_MINRTY

 13%|█▎        | 2/15 [00:19<02:07,  9.82s/it]

EP_UNEMP

 20%|██        | 3/15 [00:29<01:57,  9.81s/it]

EP_POV

 27%|██▋       | 4/15 [00:39<01:47,  9.78s/it]

EP_NOHSDP

 33%|███▎      | 5/15 [00:48<01:37,  9.79s/it]

EP_MOBILE

 40%|████      | 6/15 [00:58<01:27,  9.74s/it]

EP_GROUPQ

 47%|████▋     | 7/15 [01:08<01:17,  9.70s/it]

EP_NOVEH

 53%|█████▎    | 8/15 [01:17<01:07,  9.70s/it]

EP_LIMENG

 60%|██████    | 9/15 [01:27<00:58,  9.69s/it]

EP_DISABL

 67%|██████▋   | 10/15 [01:37<00:48,  9.71s/it]

EP_MUNIT

 73%|███████▎  | 11/15 [01:47<00:38,  9.70s/it]

EP_AGE17

 80%|████████  | 12/15 [01:56<00:29,  9.74s/it]

EP_UNINSUR

 87%|████████▋ | 13/15 [02:06<00:19,  9.72s/it]

EP_AGE65

 93%|█████████▎| 14/15 [02:16<00:09,  9.72s/it]

EP_CROWD

100%|██████████| 15/15 [02:26<00:00,  9.73s/it]

In [74]:
AGE_17 = pd.read_csv('/home/h6x/git_projects/svi_data_analysis/data/processed_data/analysis_svi/EP_AGE17_census_2014_2022.csv')

In [75]:
AGE_17.head()

         FIPS  variable  year  variable_value
0  1001020100  EP_AGE17  2014            23.4
1  1001020200  EP_AGE17  2014            18.6
2  1001020300  EP_AGE17  2014            27.9
3  1001020400  EP_AGE17  2014            22.4
4  1001020500  EP_AGE17  2014            28.8

In [80]:
AGE_17_common_FIPS = set(AGE_17['FIPS'].to_list())

In [82]:
len(AGE_17_common_FIPS)

96499

In [83]:
AGE_17[AGE_17['FIPS']==1001020100]

              FIPS  variable  year  variable_value
0       1001020100  EP_AGE17  2014            23.4
73295   1001020100  EP_AGE17  2016            22.7
146287  1001020100  EP_AGE17  2018            21.2
218515  1001020100  EP_AGE17  2020            21.4
302637  1001020100  EP_AGE17  2022            24.0